.controls-style {
  display: flex;
  gap: 16px;
  padding: 32px;
  background-color: #f6f6fe;
  width: 486px;
  height: 104px;
  border-radius: 8px;
  margin: 0 auto;
}

.input {
  outline: none;
  border: 1px solid #808080;
  padding: 8px 51px;

  border-radius: 8px;
}

.create-btn,
.destroy-btn {
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 8px;

  color: #ffff;
}

.create-btn {
  background-color: #4e75ff;
}

.create-btn:hover {
  background-color: #6c8cff;
}

.destroy-btn {
  background-color: #ff4e4e;
}

.destroy-btn:hover {
  background-color: #ff7070;
}
